/*Stilizimi i pergjithshem i tekstit*/
h1,h2,nav
{
	font-family: "Trebuchet MS",Tahoma,sans-serif;
}
body 
{
	font-family: Georgia, sans-serif;
	font-size: 100%;
	background-color: lightgray;
}
/* Fillimi i Stilizimit te Header-it*/

header
{
	background-color: #2D3E45;
	width: 100%;
	height: 200px;
	margin-top: 0%;
	position: static;
}
header nav
{
	background-color: #1A292E;
	padding: 0.2% 0 0.2% 0;
	list-style: none;
	display: inline;
}
header nav a
{
	padding: 0.25em;
	text-decoration: none;
}
header h1
{	margin-top:-1%;
	font-size: 165%;
	color: white;
}
header h1 span
{
	color: white;
}
header h2
{	margin-top:-8%;

	font-size: 80%;
	color: #98A9B0;
}
nav#mainMenu
{
	background-color: #1A292E;
	font-size: 100%;
	text-align: left;
	color: #98A9B0;
	display: inline-block;
	width: 100%;
	margin-bottom:1%;
}
nav#mainMenu div{
	width:40%;
	float: left;
	margin:0.1% 0.1%;
} 
nav ol li{
	 list-style: none; 
}
nav ul li
{	
	 list-style: none; 
	
	font-size:120%; 
	
	float:left;
	display:inline;
	padding: 0 10% 0 10%;
	
}
#mainMenu .search-container {
  float: right;
}
#mainMenu input[type=text] {
    
  width: 50%;
  box-sizing: border-box;
  border:none;
  border-radius:10px;
  font-size: 100%;
  background-color: #2D3E45;
  padding:2% 4%;
  margin: 2% 20%;
  
  transition: 1s;
  outline: none;
  float: right;	
  height: 15px;
  color: #98A9B0;
  
  background-image: url('http://pixsector.com/cache/e7836840/av6584c34aabb39f00a10.png');
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: right;
  
  }
#mainMenu input[type=text]:focus {
  border: 2% solid #555;
  width: 80%;
}
 header #header{
	margin-top:0;
} 
nav#secondaryMenu
{
	display: inline;
	background-color: #2D3E45;
	font-size: 110%;
	text-align: right;
	color: #98A9B0;
	margin-top: 5%;
}

#second1{
	width:34%;
	display:inline;
	float:left;
	text-align: left;
	font-size: 110%;
	margin-left:1%;
}
#second2{
	width:66%;
	display:inline;
	margin-right:1%;
	text-align: right;
	font-size: 110%;

	
}
#second1 h2
{
	font-size: 30px;
}
/*  } Fundi i Stilizimit te Header-it   */
/*  } Fillimi i Stilizimit te Body-it   */
body 
{
	font-family: "Roboto", sans-serif;
	font-size: 100%;
}

h5
{
font-size: 18px;
}
.First
{
	display: grid;
	grid-template-columns: 33% 32.5% 33%;
	grid-auto-rows: minmax(100px,auto);
	grid-gap:1em;
	align-items: stretch;
	margin: 10px 20px 10px 10px;
}
.Second
{
	display: grid;
	grid-template-columns: 49.5% 49.5%;
	grid-auto-rows: minmax(100px,auto);
	grid-gap:1em;
	align-items: stretch;
	padding:10px;
}

a:link 
{
	font-weight: bold;
	color: white;
}
a:visited
{
	color: white;
}
a:hover
{
	color: #98A9B0;

}
#Fk
{
	display: block;
	background-color: #D2D2D2;
	text-align: center;
}


#Statistika
{
	background-color: lightgray;
	text-align: center;
	border-width:5px;  
    border-style:inset;
	border-radius: 30px;
	margin: 10px 0px 10px 0px;
}

 span
 {
 	float: center;
 }

/*  } Fundi i Stilizimit te Body-it  */
/*Fillimi i Stilizimit te Footerit {  */

footer nav
{	
	background-color: #1A292E;
	list-style: none;
	display: inline-block;
}
nav#mainFooter
{
	background-color: #2D3E45;
	font-size: 100%;
	text-align: left;
	color: #98A9B0;
	display: inline-block;
	width: 100%;
	margin-bottom:0%;
	border-radius:15px 15px 0px 0px;
}
nav#secondaryFooter
{
	width: 100%;
	background-color: #1A292E;
	font-size: 110%;
	text-align: left;
	margin-bottom:0%;
	color: #98A9B0;
	padding: 0.2% 0 0.2% 0;
	
}

address {
  display: block;
  font-style: italic;
  font-size: 15px;
  text-align: left;
  
}

.Copyright{
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100px;
}
.panel
{
padding:5px;
text-align: center;
border:solid 1px #2D3E45;
bottom:0%;
background-color: #2D3E45;
font-size: 90%;
color: #98A9B0;
display: inline-block;
display:none;
margin-bottom:0%;
}
.flip{
	padding:5px;
    text-align: left;
	border:solid 1px #2D3E45;
	bottom:0%;
	background-color: #2D3E45;
	font-size: 100%;
	color: #98A9B0;
	display: inline-block;
	margin-bottom:0%;
	border-bottom-color:#98A9B0;
	width:99%;
	border-radius:15px 15px 0px 0px;
}
.table2
{
	margin:0 10% 0 10%;
    text-align: left;
}
.ikonat
{
	margin-right:20px;
}
/*  } Fundi i Stilizimit te Footerit   */
/* Fillimi i stilizimit te ores */
div#ora
 {
 height:35px;
 width:150px;
 font-size:27px;
 box-shadow:1px 5px 10px black;
 margin-left:1%;
 color:black;
 border-radius:20px;
 }
 /* Fundi i stilizimit te ores */
 /* Stilizimi i formes per kritika */
 div#Kritikat
 {
 height:100px;
 width:350px;
 position: static;
 font-size:15px;
 box-shadow:1px 5px 10px lightblue;
 margin-left:1%;
 color:white;
 }
